@import "../../constants/style-constants";

.list {
  margin-top: 38px;
  width: 100%;

  &-wrapper {
    width: 100%;
    max-width: 335px;
    margin-left: 16px;
    overflow-y: auto;
    max-height: 100%;
    padding: 70px 0 50px;

    h1 {
      font-size: 34px;
      font-weight: 700;
      margin: 0;
      color: $blue_dark;
    }
  }

  &-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid $blue_light;
    transition: all 300ms;
    overflow: hidden;
    cursor: pointer;

    &.active {
      h3 {
        font-weight: 700;
        color: $blue_dark;
      }

      img {
        transform: rotate(180deg);
      }

      p {
        height: fit-content;
        margin-bottom: 16px;
      }
    }

    &-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row nowrap;
      margin-bottom: 16px;

      h3 {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0;
        margin: 0;
      }

      img {
        transition: all 300ms;
        margin-left: 20px;
        height: 8px;
      }
    }

    &-content {
      p {
        transition: all 300ms;
        height: 0;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .list {
    margin-top: 30px;
    max-width: 450px;

    &-wrapper {
      margin: 0;
      max-width: unset;
      width: 100%;
      padding: 135px 23px 30px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-flow: column nowrap;

      h1 {
        text-align: center;
        width: 100%;
      }
    }

    &-item {
      &-header {
        img {
          margin-left: 5px;
        }

        h3 {
          letter-spacing: -0.5px;
        }
      }
    }
  }
}

